@import "common/common.css";

.head-image
{
    margin-top:70px;width:100%;
}

.item
{
    width:400px;float: left;height: 100px;display: block;margin-bottom: 50px;overflow: hidden;
}
.item-img
{
    height: 70px;width: 70px;max-width: 80px;max-height: 80px;float: left;
}
.item-title
{
    width: 300px;height: 25px;text-align: left;float: left;overflow: hidden;
}
.item-title-p
{
    margin-left: 20px;font-size: 16px;
}
.item-text
{
    width: 300px;height: 70px;word-wrap: break-word;text-align: left;float: left;
}
.item-text-p
{
    margin-left: 20px;font-size: 13px;
}
.bottom
{
    width: 100%;height:300px;float: left;min-width: 1024px;
    background-image: url(../../resources/images/microMarketing/bottom.png);
    background-size:100% 100%;
    margin-bottom: 30px;
}
.bottom-left
{
    float: left;margin-top: 40px;width: 60%
}.bottom-block
 {
     width: 380px;margin-left: 30%;
 }
.bottom-label
{
    font-size: 14px;color: #ffffff;
}
.input-text
{
    width: 300px;height: 24px;
}
.bottom-button
{
    height: 30px;width: 120px;color: #ffffff;background-color:#eea236;margin-top: 20px;
}
.bottom-right
{
    float: left;margin-top: 130px;width: 30%;margin-left: 2%;
}