@import "common.css";
.footer{

    width: 800px;
    min-height: 130px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.tdcode{
    float: left;
    height: 100px;
    width: 180px;
    margin: 0;
    padding: 0;
}
.tdcode img{
    height: 100px;
    width: 180px;
}
.web_info{
    float: right;
    font-size:10px;
    color: #ffffff;
    min-width: 460px ;
    display: inline-block;
    width:300px;
    height: 100px;
    padding-left: 15px;
    border-left: 3px;
    border-left-style: solid;
    -moz-border-left-colors:  #999999 #ffffff #999999;
}
.web_info dl dd{
    text-align: left;
    margin:0px;
    color:#fff;
    font-size: 14px;
    font-family: 'huaKanYuanTi';
}
.web_info dl dd strong{
    margin-right: 30px;
}
