@charset "utf-8";
/* CSS Document */
html,*,body, div, ul,ol, li,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0;}
body{font-family:"微软雅黑", Arial, Helvetica, sans-serif;color:#666666;line-height:25px;font-size:16px;}
img{vertical-align:middle;}
em{font-style:normal;}
a img, :link img, :visited img{border:0;}
a:link, a:visited{text-decoration:none;color:#666666;}
a:hover,a:focus{text-decoration:underline;color:#0573bd;text-decoration:none;}
ul, ul li{list-style-type:none;}


#top_bg{
    max-height: 70px;
    position:fixed;
    top:0px;
    _position:absolute;
    _top:0px;
    _top:expression(eval(document.documentElement.scrollTop+ (parseInt(this.currentStyle.marginTop,10)||0)));
    wheight:70px;
    width:100%;
    background:#ffffff;
    box-shadow:1px 1px 7px #333;
}
.top{width:1366px;height:70px;margin-left:80px;float: left; max-height: 70px;}
.top .logo_l{
    width:310px;
    height:70px;
}

.nav_z{margin-left:20px;width:auto!important;height:70px;float:left;position:relative;z-index:999 ; max-height: 70px;}
#navul li{float:left;width:100px;height:70px;position:relative;text-align:center;line-height:70px;display:inline-block;}
#navul li a:link, #navul li a:visited{color:#000000;font-weight:500;letter-spacing:2px;display: block;float:none}
#navul li ul{display:left;position:absolute;z-index:999;background:#e6e6e6;border:#c6c6c6 0px solid;border-bottom:none;left:0px;}
#navul li ul li{display:block;width:100px;float:none;height:40px;position:relative;line-height:40px;border-bottom:#C6C6C6 0px solid;font-size:15px;overflow:hidden}
#navul li.navmoon{
    -webkit-transition: background 1s ;
    -moz-transition: background 1s ;
    -ms-transition: background 1s ;
    -o-transition: background 1s ;
    transition: background 1s ;
    background: #4fade2;
    border:#C6C6C6 0px solid;
    width:100px;
    height:70px;
    line-height:70px;
    float: left;
}
#navul li.navmoon a{color:#ffffff;}
#navul li.navhome a:hover{color:#FCFF00;}
#navul li.navmoon ul{display:block;box-shadow:3px 3px 2px #333;}
#navul li.navmoon ul a{display:block;width:100px;height:40px;line-height:40px;font-size: 15px;}
#navul li.navmoon ul a:hover{color:#fff;background:#4fade2;}

.button{
    font:15px Calibri, Arial, sans-serif;

    /* A semi-transparent text shadow */
    text-shadow:1px 1px 0 rgba(255,255,255,0.4);

    /* Overriding the default underline styling of the links */
    text-decoration:none !important;
    white-space:nowrap;

    display:inline-block;
    vertical-align:baseline;
    position:relative;
    cursor:pointer;
    padding:10px 15px;

    background-repeat:no-repeat;

    /* The following two rules are fallbacks, in case
       the browser does not support multiple backgrounds. */

    background-position:bottom left;
    background-image:url('../../images/header/button_bg.png');

    /* Multiple backgrounds version. The background images
       are defined individually in color classes */

    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;

    /* Applying a default border raidus of 8px */

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

    /* A 1px highlight inside of the button */

    -moz-box-shadow:0 0 1px #fff inset;
    -webkit-box-shadow:0 0 1px #fff inset;
    box-shadow:0 0 1px #fff inset;

    /* Animating the background positions with CSS3 */
    /* Currently works only in Safari/Chrome */

    -webkit-transition:background-position 1s;
    -moz-transition:background-position 1s;
    transition:background-position 1s;
}

.button:hover{

    /* The first rule is a fallback, in case the browser
       does not support multiple backgrounds
    */

    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
}

.button:active{
    /* Moving the button 1px to the bottom when clicked */
    bottom:-1px;
}

/* The three buttons sizes */

.button.big		{ font-size:30px;}
.button.medium	{ font-size:16px;}
.button.small	{ font-size:13px;}

/* A more rounded button */

.button.rounded{
    -moz-border-radius:4em;
    -webkit-border-radius:4em;
    border-radius:4em;
}


/* Defining four button colors */


/* BlueButton */

.blue.button{
    color:#0f4b6d !important;

    border:1px solid #84acc3 !important;

    /* A fallback background color */
    background-color: #48b5f2;

    /* Specifying a version with gradients according to */

    background-image:	url('../../images/header/button_bg.png'), url('../../images/header/button_bg.png'),
    -moz-radial-gradient(	center bottom, circle,
        rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
    -moz-linear-gradient(#4fbbf7, #3faeeb);

    background-image:	url('../../images/header/button_bg.png'), url('../../images/header/button_bg.png'),
    -webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
        from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.blue.button:hover{
    background-color:#63c7fe;

    background-image:	url('../../images/header/button_bg.png'), url('../../images/header/button_bg.png'),
    -moz-radial-gradient(	center bottom, circle,
        rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
    -moz-linear-gradient(#63c7fe, #58bef7);

    background-image:	url('button_bg.png'), url('button_bg.png'),
    -webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
        from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}

