/******************************顶部浮动导航栏样式*****************************/
@import "common.css";
.top-line-div{
    vertical-align: middle;
    width: 100%;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    background: url("../../images/header_bg.png") ;
    background-size: 100% 100%;
    color: #ffffff;
    position: fixed;
    border-radius: 0;
    top: 0;
    left: 0;
}
.top-line-div .navgation{
    min-width: 1024px;
    height: 100%;
    line-height: 70px;
    display: block;
}
.top-line-div .navgation li{
    list-style: none;
    display: inline;
}
.top-line-div .navgation li a{
    font:bold;
    font-size: 20px;
    color:#eee;
    padding: 2px;
    font-family: '微软雅黑';
    text-decoration:none;
    height: 100%;
    width: 100px;
    display: inline-block;
}
.top-line-div .navgation li a:hover{
    -webkit-transition: background 1s ;
    -moz-transition: background 1s ;
    -ms-transition: background 1s ;
    -o-transition: background 1s ;
    transition: background 1s ;
    background: #0168B7;
}
.navChild{
    font-family: '微软雅黑';
    text-decoration:none;
    color:#eee;
    background:#292f36;
}
.navChild:hover{
    -webkit-transition: background 1s ;
    -moz-transition: background 1s ;
    -ms-transition: background 1s ;
    -o-transition: background 1s ;
    transition: background 1s ;
    background: #eee;
    color: #000;
}
.logo{
    width: 180px;
    height: 70px;
    float: left;
    margin-left: 5%;
    margin-bottom: 8px;
    position: relative;
}
.logo img{
    width: 300px;
    height: 80px;
    max-height: 80px;
    float: left;
    margin-top: -12px;
}
.logo .title{
    font-size: 20px;
    font:bold;
    color:#bce8f1;
    position: absolute;
    left: 70px;
    bottom: 15px;
}
.logo .phone{
    font-size:12px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #c0a16b;
    width: 100%;
}
