.scroller {
    WIDTH: 1024px;
}
.scroller .section {
    WIDTH: 1024px;
}
.feature {
    WIDTH: 1024px;
    POSITION: relative;
    padding-top: 15px;
}
.feature H2 {
    MARGIN: 20px 0px 7px;
    text-align: left;
    text-indent: 10px;
}

.scroller {
    OVERFLOW: hidden;
    MIN-HEIGHT: 365px;
}
.scroller .section {
    FLOAT: left;
    OVERFLOW: hidden;
    WHITE-SPACE: nowrap;
    MIN-HEIGHT: 365px;
    TEXT-ALIGN: center;
}
.scroller .section a{
    MIN-HEIGHT: 365px;
    min-width: 180px;
    margin:20px;
    display:inline-block;
    background:url("../../../images/phone.png") no-repeat 0 0;
    position: relative;
}
.scroller .section a img{
    position: absolute;
    top:57px;
    left: 21.5px;
    width: 144px;
    height: 254.5px;
    border-radius: 4px;
    box-shadow: 10px #fff;
  /*border:1px solid red;*/
}
.scroller .content {
    WIDTH: 10000px
}
#prevLink {
    DISPLAY: block;
    OVERFLOW: hidden;
    WIDTH: 70px;
    TEXT-INDENT: -99999px;
    POSITION: absolute;
    TOP: 35%;
    HEIGHT: 70px;
    /*background-image: url(../../../images/home/slider/case/glider-arrows.png);*/
    background: url("../../../images/home/left_op.png")no-repeat 0 0;
}
#nextLink {
    DISPLAY: block;
    OVERFLOW: hidden;
    WIDTH: 70px;
    TEXT-INDENT: -99999px;
    POSITION: absolute;
    TOP: 35%;
    HEIGHT: 70px;
    background: url("../../../images/home/right_op.png")no-repeat 0 0;
}
#nextLink {
    BACKGROUND-POSITION: -10px 0px
}

#prevLink {
    LEFT: -18px
}
#nextLink {
    RIGHT: -18px
}
